body {
    font-size: 1.5em;
    line-height: 1.6em;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    letter-spacing: 20px;
    background: black;
    color: white;
}

#main-page {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
#middle-div

/* I don't like these dimensions. but as a reference point for figuring in the future... 2: IMPORTANCE of @media above styling? 
@media (min-width: 550px)
.container {
    width: 80%;
}

@media (min-width: 400px)
.container {
    width: 85%;
    padding: 0;
} */

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    text-align: center;
}

/* FOR FLEXBOX... LOOK INTO HOW TO APPLY/ ALTER THE BOXES INDIVIDUALLY
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    flex-wrap: nowrap;

    display: grid;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 10px;
}
*/

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    font-weight: bolder; 
    font-size: 40px;
}

a:visited {
    color: white;
    text-decoration: none;
}

.box1 {
    /* border: solid white 6px; */
    height: 250px;
    width: 350px;
    padding: 20px;
    margin: 40px;
    justify-content: center;
    align-items: center;
    /* font-family: 'Libre Baskerville', serif; */
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 20px;
}

.hrBox1 {
    width: 90%;
}

.box2 {
    border: solid white 4px;
    height: 250px;
    width: 350px;
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    /*grid-row: 1;
    grid-column: 2;*/
}

.box3 {
    border: solid white 4px;
    height: 250px;
    width: 350px;
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*grid-row: 1;
    grid-column: 3;*/
}

.box4 {
    border: solid white 4px;
    height: 250px;
    width: 350px;
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    /*grid-row: 2;
    grid-column: 1;*/
}

.box5 {
    border: solid white 4px;
    height: 250px;
    width: 350px;
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*grid-row: 2;
    grid-column: 2;*/
}

.box6 { 
    border: solid white 4px;
    height: 250px;
    width: 350px;
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*grid-row: 2;
    grid-column: 3;*/
}

.box7 {
    border: solid white 4px;
    height: 250px;
    width: 350px;
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*grid-row: 3;
    grid-column: 1;*/
}

.box8 {
    border: solid white 4px;
    height: 250px;
    width: 350px;
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    /*grid-row: 3;
    grid-column: 2;*/
}

.box9 {
    border: solid white 4px;
    height: 250px;
    width: 350px;
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*grid-row: 3;
    grid-column: 3;*/
}

.headAbout {
    padding: 40px 40px 0 40px;
}

.mainAbout {
    padding: 40px 60px;
    margin: 10px 40px 0 40px;
    letter-spacing: 15px;
}

.introductionAbout {
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Libre Baskerville', serif;
}

.footerAbout {
    padding: 40px 20px 0 40px;
    letter-spacing: 15px;
}

.connectLinks {
    font-size: 18px;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 50px;
    font-variant: small-caps;
}